<section class="section__partners">
  <div class="section__inner">
    <h2 class="jk-partners__subtitle subtitle">J&K Partners</h2>
    <div class="textbox">
      <ul class="jk-partners__list">
        <li><a class="jk-partners__mmn" href="https://mmnprojects.co.nz/" target="_blank"> MMN </a></li>
        <li><a class="jk-partners__jalcon" href="https://www.jalcon.co.nz/" target="_blank"> Jalcon Homes </a></li>
        <li><a class="jk-partners__McMillan" href="https://www.mlconstruction.nz/" target="_blank"> McMillan & Lockwood </a></li>
        <li><a class="jk-partners__box" href="https://www.box.co.nz/" target="_blank"> BOX </a></li>
        <li><a class="jk-partners__asjacobs" href="https://asjacobs.co.nz/" target="_blank"> AS Jacobs Property Consultancy </a></li>
        <li><a class="jk-partners__pennyhomes" href="https://www.pennyhomes.co.nz/" target="_blank"> Penny Homes </a></li>
        <li><a class="jk-partners__classicbuilders" href="https://www.classicbuilders.co.nz/" target="_blank"> Classic Builders </a></li>
      </ul>
    </div>
  </div>
</section>


<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper site-footer-wrapper">

    <h2 class="footer-heading">Copyright <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}</span></h2>

    <div class="footer-col-wrapper">
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div> -->


      <!-- <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->
      <div class="footer__social">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>


<!-- Vendor Scripts -->
<!-- Animation -->
<link href="/assets/vendor/aos.css?v=2.3.4" rel="stylesheet">
<script src="/assets/vendor/aos.js?v=2.3.4"></script>
<script src="/assets/vendor/rellax.min.js?v=1.12.1"></script>

<!-- Custom Script -->
<script src="/assets/main.js?v{{site.time | date: '%s'}}"></script>


<style>
@media screen and (max-width: 1023px) {
  .section__partners .textbox {
    transform: scale(0.8);
  }
}
</style>