---
---

body {
  background: #2b2b2b;
  color: #fff;
}


a,a:visited {
  color: #fda328;
}
a:hover {
  color: #fda328;
  text-decoration: underline;
}
a:active {
  color: #ba7517;
}


.site-header {
  height: 110px;
  display: flex;
  align-items: center;
  border: 0;
}
.site-header .wrapper {
  width: 100%;
}


.site-title {
  display: block;
  background: url("/assets/jk-logo.svg") center center no-repeat;
  background-size: cover;
  text-indent: -99999px;
  width: 65px;
  height: 48px;
}


.site-nav .page-link {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.site-nav .page-link:visited  {
  color: #fff;
}
.site-nav .page-link:hover  {
  color: #fff;
  text-decoration: underline;
}
.site-nav .page-link:active {
  color: #ddd;
}


.post-title {
  display: none;
}


.site-footer {
  border-color: #3e3e3e;
}


// .jk-partners__list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// 	display: inline-flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   justify-content: center;
// }
// .jk-partners__list li {
//   margin: 0;
// }