---
---

// 16-inch MacBook Pro

// Looks like 2056 x 1329
// Default: Looks like 1728 x 1117
// Looks like 1496 x 967
// Looks like 1312 x 848
// Looks like 1168 x 755

// 14-inch MacBook Pro
// Looks like 1800 x 1169
// Default: Looks like 1512 x 982
// Looks like 1352 x 878
// Looks like 1147 x 745
// Looks like 1024 x 665


body {
  background: #2b2b2b;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a,a:visited {
  color: #fda328;
}
a:hover {
  color: #fda328;
  text-decoration: underline;
}
a:active {
  color: #ba7517;
}


.site-header {
  height: 110px;
  display: flex;
  align-items: center;
  border: 0;
  background: #2b2b2b;
  z-index: 1;
}
.site-header .wrapper {
  width: 100%;
}
@media screen and (min-width: 1600px) {
  .site-header {
    height: 130px;
  }
}
@media screen and (min-width: 1900px) {
  .site-header {
    height: 150px;
  }
}


.site-title {
  display: block;
  background: url("/assets/jk-logo.svg") center center no-repeat;
  background-size: cover;
  text-indent: -99999px;
  width: 65px;
  height: 48px;
}

.site-nav {
  z-index: 9999;
}

.site-nav .page-link {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.site-nav .page-link:visited  {
  color: #fff;
  text-decoration: none;
}
.site-nav .page-link:hover  {
  color: #fff;
  border-bottom: 2px solid;
  text-decoration: none;
}
.site-nav .page-link:active {
  color: #ddd;
  text-decoration: none;
}

.site-nav a[data-active-item="active"] {
  border-bottom: 2px solid;
  pointer-events: none;
}


/* Mobile menu */
@media screen and (max-width: 600px) {
  .site-nav {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
  .site-nav .menu-icon svg {
    fill: #fff;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding: 20px 20px 20px 40px;
    // border: 1px solid #666;
    background: #2b2b2b;
    z-index: 9999;
  }
}





.post-title {
  display: none;
}


.site-footer {
  border: 0;
  background: #000;
  text-align: center;
}

.site-footer .footer-heading {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-heading span {
  color: #fda328;
}

@media screen and (min-width: 1024px) {
  .site-footer .footer-heading {
    float: left;
  }

  .footer__social {
    float: right;
  }
}

/* Layout */
.wrapper {
  // max-width: -webkit-calc(960px - (30px * 2));
  // max-width:         calc(960px - (30px * 2));
  max-width: 1000px;
}
@media screen and (min-width: 1600px) {
  .wrapper {
    max-width: 1250px;
  }
}
@media screen and (min-width: 1900px) {
  .wrapper {
    max-width: 1450px;
  }
}

// @media screen and (min-width: 1600px) {
//   .wrapper {
//     max-width: 1320px;
//   }
// }


.wrapper_fullwidth {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

/* Contact page */
.contact-us .page-content {
 padding: 0;
}

.contact-us .page-content::after {
  content:"";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("bg__contact2.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.1;
}


.contact__wrapper {
  margin: 150px auto;
}

.contact__row {
  margin: 0 auto 60px;
  max-width: 720px;
}
.contact__row:after {
  content: "";
  display: table;
  clear: both;
}

.post-content h2.contact__subtitle {
  color: rgb(255, 164, 0);
  font-size: 25px;
  font-weight: 700;
  display: block;
}

.contact__textbox {
  display: block;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  .post-content h2.contact__subtitle {
    float: left;
    width: 50%;
  }
  .contact__textbox {
    float: left;
    width: 50%;
  }
}


/* Page: Company */
.section__about-us {
  background: rgb(255, 164, 0);
  color: #000;
  padding: 150px 0;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 300;
}
.section__about-us h2.subtitle {
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .section__about-us h2.subtitle {
    float: left;
    width: 30%;
  }
  .section__about-us .textbox {
    float: left;
    width: 70%;
  }
}


/* Project layout */
.project__wrapper {
  margin-bottom: 60px;
}

.project__hero {
  margin-bottom: 30px;
  margin-top: -30px;
}

.project__hero-media,
.hero-media {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  -webkit-transform-style: preserve-3d; /* iPhone z-index fix */
}

.project__heading {
  text-transform: uppercase;
}

.project__title  {
  color: rgb(255, 164, 0);
  font-size: 28px;
  font-weight: 700;
  display: block;
}


@media screen and (min-width: 1024px) {
  .project__desc .lead {
    font-size: 25px;
  }
}

.project__tag,
.project__tag:hover,
.project__tag:active,
.project__tag:visited  {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  display: block;
}


.project__title small {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  display: block;
  letter-spacing: 4px;
}


@media screen and (min-width: 1024px) {
  .project__heading {
    float: left;
    width:40%;
  }
  .project__desc {
    float: left;
    width: 60%;
  }
  .project__hero {
    margin-bottom: 50px;
  }
  .project__title  {
    font-size: 32px;
  }

}



/* Hero video */
.section__hero {
  width: 100%;
  height: 80vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.section__hero .hero-media {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.home__hero-banner {
  width: 100%;
  height: calc(100vh - 110px);
  min-height: 400px;
  position: relative;
  overflow: hidden;
}
.home__hero-banner .hero-media {
  position: absolute;
  object-fit: cover;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
}

.j-k-homes .page-content {
  padding-top: 0;
  padding-bottom: 0;
}


.section__hero-banner {
  height: 650px !important;
  overflow: hidden;
  margin-top: -30px;
}



.post .post-header {
  display: none;
}



// .page-content {
//   padding-top: 0;
//   padding-bottom: 0;
// }




/* Partners */
.section__partners {
  border-top: 1px solid #555;
  padding: 20px 0;
}

.section__partners .wrapper {
  max-width: 100%;
}

.jk-partners__subtitle {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 60px 0 40px;
}

.jk-partners__list  {
  text-align: center;
  margin-left: 0;
  padding: 0;
}

.jk-partners__list li {
  list-style: none;
  margin: 4px 1.3vw;
  padding: 0;
  display: inline-block;
}

.jk-partners__list li a {
  display: block;
  float: left;
  text-indent: -99999px;
}

.jk-partners__icc {
  background: url("/assets/partners/jk-partners__icc.png") center center no-repeat;
  width: 70px;
  height: 70px;
  background-size: contain;
}

.jk-partners__mmn {
  background: url("/assets/partners/jk-partners__MMN.png") center center no-repeat;
  width: 70px;
  height: 70px;
  background-size: contain;
}

.jk-partners__jalcon {
  background: url("/assets/partners/jk-partners__jalcon--white.png") center center no-repeat;
  width: 120px;
  height: 70px;
  background-size: contain;
}

.jk-partners__McMillan {
  background: url("/assets/partners/jk-partners__McMillan--white.png") center center no-repeat;
  width: 150px;
  height: 70px;
  background-size: contain;
}

.jk-partners__box {
  background: url("/assets/partners/jk-partners__box--white.png") center center no-repeat;
  width: 70px;
  height: 70px;
  background-size: contain;
}

.jk-partners__asjacobs {
  background: url("/assets/partners/jk-partners__ASJacobs--white.png") center center no-repeat;
  width: 100px;
  height: 70px;
  background-size: contain;
}

.jk-partners__pennyhomes {
  background: url("/assets/partners/jk-partners__pennyhomes.png") center center no-repeat;
  width: 100px;
  height: 70px;
  background-size: contain;
}

.jk-partners__classicbuilders {
  background: url("/assets/partners/jk-partners__classicbuilders--white.png") center center no-repeat;
  width: 50px;
  height: 70px;
  background-size: contain;
}



.section-services {
  width: 100%;
  float: left;
  margin: 0 auto 60px;
}

.section-services ul,
.section-services ol {
  margin-left: 16px;
}

.services__categories {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin: 60px auto;
}

.services__category {
  margin: 60px 0;
  box-sizing: border-box;
}

.services__category img {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .services__categories {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .services__category {
    // width: 33.33%;
    // float: left;
    // margin-right: 30px;
  }
  .services__category:last-child {
    // margin-right: 0;
  }
}



.projects h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 60px;
  font-weight: 600;
}

.post-list > li {
  margin-bottom: 60px;
}

.rss-subscribe {
  display: none;
}

// @media screen and (min-width: 1024px) {
//   .post-list > li {
//     width: 50%;
//     float: left;
//     padding: 15px;
//     box-sizing: border-box;
//   }
//   .post-list > li:nth-child(3n+3) {
//     width: 100%;
//   }
// }





/* ----------------------------------------------------
HOME
---------------------------------------------------- */
.homepage main .wrapper {
  max-width: 100%;
  padding: 0;
}

.homepage .page-heading {
  display: none;
}

.homepage .post-list-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto 0;
  padding: 15px;
  box-sizing: border-box;
  letter-spacing: 0.15em;
}

.homepage .post-list {
  margin: 20px auto 60px;
  max-width: 1000px !important;
  padding: 15px;
  box-sizing: border-box;
}
.homepage .post-list li {
  width: 100%;
  // float: left;
  display: flex;
}

.homepage .post-list__thumbnail {
  max-width: 40%;
  // float: left;
}
.homepage .post-list__textbox {
  max-width: 60%;
  // float: left;
  box-sizing: border-box;
  padding-left: 6%;
  align-self: center;
}
.homepage .post-list__title .post-link {
  font-size: 20px;
  font-weight: 600;
}


@media screen and (min-width: 1024px) {
  .homepage .post-list__thumbnail {
    max-width: 50%;
  }
  .homepage .post-list {
    max-width: 1250px;
  }
  .homepage .post-list__textbox {
    max-width: 50%;
    padding-left: 8%;
  }
  .homepage .post-list__title .post-link {
    font-size: 24px;
    font-weight: 600;
  }

  .homepage .post-list__button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 5px 15px;
    background-color: #fda328;
    box-sizing: border-box;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1900px) {
  .homepage .post-list {
    max-width: 1450px;
  }
}



.homepage .section__hero-banner {
  position: relative;
}
.homepage .section__hero-banner .textbox {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px;
}

.homepage .section__hero-banner p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .homepage .section__hero-banner .textbox {
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.homepage .section__hero-banner::after {
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  background:rgba(0,0,0,0.5);
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}

.homepage main {
  position: relative;
  overflow: hidden;
}
.homepage main::before {
  content:"";
  width: 350px;
  height: 750px;
  background: url("/assets/jk-logo_symbol.svg") center left no-repeat;
  background-size: cover;
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: 625px;
}
.homepage main::after {
  content:"";
  width: 590px;
  height: 750px;
  background: url("/assets/jk-logo_symbol.svg") center right no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: 50%;
  margin-right: 625px;
  background-position: right 196px;
}
.homepage .section__about-us {
  background: #2b2b2b;
  color: #fff;
}


