---
---

body {
  background: #2b2b2b;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a,a:visited {
  color: #fda328;
}
a:hover {
  color: #fda328;
  text-decoration: underline;
}
a:active {
  color: #ba7517;
}


.site-header {
  height: 110px;
  display: flex;
  align-items: center;
  border: 0;
  background: #2b2b2b;
  z-index: 1;
}
.site-header .wrapper {
  width: 100%;
}


.site-title {
  display: block;
  background: url("/assets/jk-logo.svg") center center no-repeat;
  background-size: cover;
  text-indent: -99999px;
  width: 65px;
  height: 48px;
}

.site-nav {
  z-index: 9999;
}

.site-nav .page-link {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.site-nav .page-link:visited  {
  color: #fff;
  text-decoration: none;
}
.site-nav .page-link:hover  {
  color: #fff;
  border-bottom: 2px solid;
  text-decoration: none;
}
.site-nav .page-link:active {
  color: #ddd;
  text-decoration: none;
}

.site-nav a[data-active-item="active"] {
  border-bottom: 2px solid;
  pointer-events: none;
}


/* Mobile menu */
@media screen and (max-width: 600px) {
  .site-nav {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
  .site-nav .menu-icon svg {
    fill: #fff;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding: 20px 20px 20px 40px;
    // border: 1px solid #666;
    background: #2b2b2b;
    z-index: 9999;
  }
}





.post-title {
  display: none;
}


.site-footer {
  border: 0;
  background: #000;
}

.site-footer .footer-heading {
  font-weight: 700;
  text-transform: uppercase;
}

// .jk-partners__list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// 	display: inline-flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   justify-content: center;
// }
// .jk-partners__list li {
//   margin: 0;
// }



/* Layout */
.wrapper {
  // max-width: -webkit-calc(960px - (30px * 2));
  // max-width:         calc(960px - (30px * 2));
  max-width: 960px;
}
.wrapper_fullwidth {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

/* Contact page */
.contact-us .page-content {
 padding: 0;
}

.contact-us .page-content::after {
  content:"";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("bg__contact2.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.1;
}


.contact__wrapper {
  margin: 150px auto;
}

.contact__row {
  margin: 0 auto 60px;
  max-width: 720px;
}
.contact__row:after {
  content: "";
  display: table;
  clear: both;
}

.post-content h2.contact__subtitle {
  color: rgb(255, 164, 0);
  font-size: 25px;
  font-weight: 700;
  display: block;
}

.contact__textbox {
  display: block;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  .post-content h2.contact__subtitle {
    float: left;
    width: 50%;
  }
  .contact__textbox {
    float: left;
    width: 50%;
  }
}


/* Page: Company */
.section__about-us {
  background: rgb(255, 164, 0);
  color: #000;
  padding: 150px 0;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 300;
}
.section__about-us h2.subtitle {
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .section__about-us h2.subtitle {
    float: left;
    width: 30%;
  }
  .section__about-us .textbox {
    float: left;
    width: 70%;
  }
}


/* Project layout */
.project__wrapper {
  margin-bottom: 60px;
}

.project__hero {
  margin-bottom: 30px;
}

.project__hero-media,
.hero-media {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  -webkit-transform-style: preserve-3d; /* iPhone z-index fix */
}

.project__heading {
  text-transform: uppercase;
}

.project__title  {
  color: rgb(255, 164, 0);
  font-size: 28px;
  font-weight: 700;
  display: block;
}


@media screen and (min-width: 1024px) {
  .project__desc .lead {
    font-size: 25px;
  }
}

.project__tag,
.project__tag:hover,
.project__tag:active,
.project__tag:visited  {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  display: block;
}


.project__title small {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  display: block;
  letter-spacing: 4px;
}


@media screen and (min-width: 1024px) {
  .project__heading {
    float: left;
    width:40%;
  }
  .project__desc {
    float: left;
    width: 60%;
  }
  .project__hero {
    margin-bottom: 50px;
  }
  .project__title  {
    font-size: 32px;
  }

}



/* Hero video */
.section__hero {
  width: 100%;
  height: 80vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.section__hero .hero-media {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.home__hero-banner {
  width: 100%;
  height: calc(100vh - 110px);
  min-height: 400px;
  position: relative;
  overflow: hidden;
}
.home__hero-banner .hero-media {
  position: absolute;
  object-fit: cover;
  width:100%;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
}

.j-k-homes .page-content {
  padding-top: 0;
  padding-bottom: 0;
}


.section__hero-banner {
  height: 600px !important;
  overflow: hidden;
  margin-top: -30px;
}